body, html {
	height: 100%;
}
body {
	font-family: sans-serif;
}

#barChart rect {
}
#barChart text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: end;
}
#barChart text.label {
	fill: black;
	font: 10px sans-serif;
	text-anchor: start;
}

.map {
	width: 800px;
	height: 500px;
	border: 1px solid #ccc;
}
.map svg {
	position: absolute;
}
.map svg .dot {
	stroke: #666;
	stroke-width: 1;
}
.tooltip {
	font-size: 0.8rem;
}

#heatChart svg {
	width: 360px;
	height: 360px;
}
#heatChart path {
	stroke: #777;
	stroke-width: 0.1px;
}

#heatChart .labels {
	fill: #808080;
	font-weight: 200;
	letter-spacing: -1px;
}
#heatChart .labels.segment {
	font-size: 10px;
}

input#speakersRange {
	width: 800px;
}
.legendOrdinal rect {
	fill: #ffffff;
	stroke: #666666;
	stroke-width: 1px;
	width: 165px;
	height: 130px;
	x: -20px;
	y: -15px;
}
.legendOrdinal .swatch {
	stroke: #333333;
	stroke-width: 1px;
}
